# MARK: - Xcode & macOS
.DS_Store
*.xcuserstate
*.xcworkspace
*.xcodeproj/project.xcworkspace/xcuserdata/
xcuserdata/

# MARK: - Swift / iOS
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
*.plist
APIKeys.swift
GoogleService-Info.plist
DerivedData/
build/
Pods/

# MARK: - Firebase / Secrets
*.env
*.key
*.pem
*.crt

# MARK: - Logs & Datenbanken
*.log
*.sql
*.sqlite

# MARK: - Systemdateien
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# MARK: - Archivformate / Binär
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# MARK: - Sonstiges
.gitignore
Phinder/Phinder/GoogleService-Info.plist
